<?xml version="1.0" encoding="UTF-8"?>

<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0"
>
	<display-name>PST Extractor</display-name>

	<description>Servlet to extract Appointments/Contacts/Journal Entries/Sticky Notes/Tasks from MS Outlook PST Files</description>

	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<context-param>
		<param-name>com.sun.faces.validateXml</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>LoggingMdcFilter</filter-name>
		<filter-class>org.apache.myfaces.tobago.internal.webapp.LoggingMdcFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoggingMdcFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Environment-specific sections; these are enabled by various settings of the project variable "environment" in pom.xml -->
	<!-- ${myfaces-tomcat-specific-content-start}
	<listener>
		<listener-class>org.apache.webbeans.servlet.WebBeansConfigurationListener</listener-class>
	</listener>
	${myfaces-tomcat-specific-content-end} - -->
</web-app>
